*
    {
        margin: 0%;
        padding: 0%;
    }
.container
{
    background: rgb(190, 189, 189);
    height: 100dvh;
    width: 100%;
    display:grid;
   grid-template-columns: 1fr;
   grid-template-rows: 10% 75% 13%;
    grid-template-areas: 'a'
                         'b'
                          'c' ;

   row-gap: 1%;         
   
}
header
{
    grid-area: a;
}
main
{
    grid-area:b;
    display:flex;
    justify-content: center;
    align-items: center;
}
a
    {  color:black;
      text-decoration: none;
      font-size: 20px;

    }

a:hover{color:rgb(165, 108, 108)}     
.navBar
{
   
    background-color: beige;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;


   
}
ul
{
    list-style: none;
    display:flex;
    flex-direction: row;
    
    

}

li
{
 padding-right: 20px;
}
.inputContainer
{
    width: 100%;
    height: 85%;
    background-color: rgb(165, 108, 108);
    display: flex;
   justify-content: center;
    align-items: center;
   

}

section
{
    display:flex;
    flex-direction: column;
   padding-top:10px;
    text-align: center;
    height:fit-content;
    width:40%;
    background-color: beige;
    border: 2px solid black;
    border-radius: 7px;
    align-items: center;
   padding-bottom: 5px;

}

input[type="text"]
{
   margin-top: 20px;
    width:150px;
    height:25px;
    border: 3px solid black;
    font-size: 15px;
}

input[type="button"]
{
    margin-top: 10px;
    margin-left: 10px;
    width:50px;
    height:25px;
    border: 3px solid black;

}

input[type="button"]:hover
{
    background-color: rgb(124, 124, 124);
}

footer
{
    background-color: beige;
}


/*seccion para elementos del dom cuando da error*/
.parrafoError
{
    color:red;
    font-size: 15px;
    background-color: rgba(255, 0, 0, 0.206);
    width: 50%;
    height:15%;
    margin-top: 7px;
    margin-bottom: px;
    border: 1px solid rgb(60, 47, 47);
    border-radius:5px;
}